body {
    background-color: #f6eedf;
     font-family: Helvetica, Arial, sans-serif;
}

a {
    color:#9f1e49;
}

h1 {
  color:#9f1e49;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-container {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}

form {
  display: flex;
}

.container {
  margin: 120px auto;
  max-width: 400px;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.submit-button {
  margin-left: 10px;
  background: #876464;
  color: white;
  border: none;
  width: 100px;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px 20px;

}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #9f1e49;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
